a, a:link, a:visited, a:focus, a:active {
	text-decoration: none;
	color: white;
	font-size: 100;
}
body {
	background: url(img/bg.jpg) #8D93AB;
}
p {
	font-family: Arial, Helvetica, sans-serif;
	color: #393B44;
}
.caption {
	display: block;
	font-family: Arial, Helvetica, sans-serif;
}
.center {
	margin: 0 auto;
	text-align: center;
}
.float {
	margin: 10px 10px;
	float: left;
}
.header {
	margin-top: 200px;
	color: rgb(214,224,240);
}
.left {
	padding-right: 50%;
}
.right  {
	padding-left: 50%;
}
#about {
	padding-top: 20px;
}
#container {
	background-color: rgba(214,224,240,0.8);
	margin: auto 100px;
}
#container div {
	padding: 5px 20px;
}
#menu {
	font-family: "Arial", sans-serif;
	font-size: 14px;
	line-height: 1.25;
	background-color: #393B44;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	font-weight: bold;
}
#menu li {
	display: inline-block;
	align-items: right;
	padding: 10px 10px;
	color: #fff;
}
#menu li:hover {
	background-color: rgba(214,224,240,0.5);
}
#profile {
	float: right;
	margin: 10px 10px;
	border-radius: 50%;
}
